
<h2>Burgers to Eat!</h2>
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      {{this.id}}
        {{this.burger_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">devoured it!</button>
        </form>
    {{/unless}}
  {{/each}}
</ul>

<ul class= "devoured_burgers">
  {{#each burgers}}
  <br>
    {{#if this.devoured}}
        {{this.burger_name}}
    {{/if}}
  {{/each}}
</ul>
<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">
  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="burger_name">
  </div>
  <button type="submit">Add Burger</button>
</form>